{% extends 'base.html' %}
{% block title %}
信息报送修改工具
{% endblock %}
{% block content %}
    <!-- 显示当前登录的用户 -->
    {% if current_user %}
    <div style="margin-bottom: -30px; display: flex; flex-direction: row-reverse; width: 100%;">
        <form action="/logout" method="get">
            <span>欢迎, {{ current_user }}!</span>
            <input type="submit" class="btn btn-warning" value="注销">
        </form>
    </div>
    {% endif %}
    <h3>信息报送修改工具</h3>
    <br>
    <br>
    <form method="get" action="/query">
        <div class="form-item">
            <label class="form-item-label" >订单号：</label>
            <div class="form-item-content">
                <input
                    class="form-control"
                    type="text"
                    name="orderid"
                />
            </div>
        </div>

        <br>
        <input type="submit" value="查询">

    </form>
        {% if prompt %}
            <div class="form-item">
                查无此单号：<label class="form-item-content" style="align-items: center; color: red" >{{prompt}}</label>，请检查
            </div>
        {% endif %}
{% endblock %}
