{% extends 'base.html' %}
{% block title %}
信息报送修改工具
{% endblock %}
{% block content %}
    <h3>信息报送修改工具</h3>
    <!-- 显示当前登录的用户 -->
{#    {% if current_user.is_authenticated %}#}
{#    <p>欢迎, {{ current_user.username }}!</p>#}
{#    <form action="/logout" method="post">#}
{#        <input type="submit" value="注销">#}
{#    </form>#}
{#    {% endif %}#}
    <br>
    <br>
    <form method="get" action="/query">
        <div class="form-item">
            <label class="form-item-label" >订单号：</label>
            <div class="form-item-content">
                <input
                    class="form-control"
                    type="text"
                    name="orderid"
                />
            </div>

        </div>
        <div class="form-item">
            <label class="form-item-label" >验证字符：</label>
            <div class="form-item-content">
                <input
                    class="form-control"
                    type="text"
                    name="verify"
                />
            </div>
        </div>
        <br>
        <input type="submit" value="查询">
    </form>
{% endblock %}
