{% extends 'base.html' %}
{% block title %}
登录
{% endblock %}
{% block content %}
    <h2>登录</h2>
    <form action="/login" method="post">

        <div class="form-item">
            <label class="form-item-label" for="username">用户名：</label>
            <div class="form-item-content">
                <input type="text" id="username" name="username">
            </div>
        </div>
        <div class="form-item">
            <label class="form-item-label" for="password">密码：</label>
            <div class="form-item-content">
                <input type="password" id="password" name="password">
            </div>
        </div>
        <br>
        <input type="submit" value="登录">
    </form>
{% endblock %}